body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    color: #1f1d1e;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    }
